.button {
  display: inline-flex;
  justify-content: center;
  padding: 15px 32px;
  width: 183px;

  color: $color-black-3;

  background-color: $color-default-white;
  border: 1px solid $color-gray-4;
  border-radius: 4px;
  cursor: pointer;

  transition: color $trans-default, background-color $trans-default, border-color $trans-default;

  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;

  @include hover-focus {
    background-color: $color-accent;
    color: $color-default-white;
    border: 1px solid $color-default-white;
  }

  &--accent {
    background-color: $color-accent;
    color: $color-default-white;
    border: 1px solid $color-default-white;

    @include hover-focus {
      color: $color-black-3;
      background-color: $color-default-white;
      border: 1px solid $color-gray-4;
    }
  }

  &--wide {
    width: 370px;
  }


}
